{
  "extends": "@antfu",
  "rules": {
    "max-len": ["warn", 120]
  },
  "ignorePatterns": [
    ".*"
  ],
  "overrides": [
    {
      "files": ["*.json"],
      "rules": {
        "max-len": "off"
      }
    }
  ]
}